h1 {
  color: blue;
}

p {
  font-size: 18px;
  color: gray;
}

.button {
  position: absolute;
  top: 783px;
  left: 152px;
  width: 416px;
  height: 44px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffffff;
  background: #636ae8ff;
  opacity: 1;
  border: none;
  border-radius: 6px;
  box-shadow:
    0px 8px 17px #636ae8,
    0px 0px 2px #636ae8;
}

.button:hover {
  color: #ffffffff;
  background: #4850e4ff;
}

.button:hover:active {
  color: #ffffffff;
  background: #2c35e0ff;
}

.button:disabled {
  opacity: 0.4;
}
